#demo {
	margin-top:5em;
}

.w { 	
	border:1px solid #346789;
	box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	opacity:0.8;
	filter:alpha(opacity=80);

	text-align:center;
	z-index:20; 
	position:absolute;
	background-color:#eeeeef;
	color:black;
	font-family:helvetica;
	padding:16px;
	font-size:11px;
		

	cursor: pointer;

}

.w:hover {
	background-color: #4682b4;
	color:white;
	box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.95;
	filter:alpha(opacity=95);

}

._jsPlumb_connector:hover{
	z-index:30 !important;
	opacity:0.95;
}


.aLabel {
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color:#1e8151;
	color:white;
	z-index:30 !important;


}

.aLabel {
	background-color:white;
	opacity:0.0;
	padding:0.3em;				
	border-radius:0.5em;
	border:1px solid #346789;
	cursor:pointer;
}



.statemachine-demo ._jsPlumb_endpoint {
	z-index:30;
}


.dragHover { border:2px solid orange; }

path { cursor:pointer; }
