svg {
  font-size: 15px;
}

.foreground path {
  fill: none;
  stroke-opacity: .7;
  stroke-width: 8.5px;
  cursor: pointer;
  font-size: 8px;
  font-style: oblique;
  
}

.foreground path.fade {
  stroke: gray;
  stroke-opacity: .7;

}

path.fade:hover {
  stroke:orange;
  stroke-opacity: 1;
  stroke-width: 17px;
  font-size: 20px;
}

.legend {
  font-size: 18px;
  font-style: oblique;
}

.legend line {
  stroke-width: 4px;
}

.aa{
 stroke:#080;
}

.adm {
 stroke:#080;
}

.admsistemas {
 stroke:#080;
}

.adsd {
 stroke:#080;
}

.atal {
 stroke:#080;
}

.basquete {
 stroke:#080;
}

.basquetefem {
 stroke:#080;
}

.basquetmas {
 stroke:#080;
}

.bd1 {
 stroke:#080;
}

.bd2 {
 stroke:#080;
}

.calculo1 {
 stroke:#080;
}

.calculo2 {
 stroke:#080;
}

.calculo3 {
 stroke:#080;
}

.classica {
 stroke:#080;
}

.compiladores {
 stroke:#080;
}

.concorrente {
 stroke:#080;
}

.didatica {
 stroke:#080;
}

.didatica2 {
 stroke:#080;
}

.diferenciais {
 stroke:#080;
}

.direito {
 stroke:#080;
}

.discreta {
 stroke:#080;
}

.economia {
 stroke:#080;
}

.eda {
 stroke:#080;
}

.empreendedorismo {
 stroke:#080;
}

.emsoft {
 stroke:#080;
}

.eptgm {
 stroke:#080;
}

.eptgm2 {
 stroke:#080;
}

.es {
 stroke:#080;
}

.estagio {
 stroke:#080;
}

.estagio2 {
 stroke:#080;
}

.eti {
 stroke:#080;
}

.financeira {
 stroke:#080;
}

.formais {
 stroke:#080;
}

.futsal {
 stroke:#080;
}

.gi {
 stroke:#080;
}

.grafica {
 stroke:#080;
}

.grafos {
 stroke:#080;
}

.gredes {
 stroke:#080;
}

.ia {
 stroke:#080;
}

.iarquitet {
 stroke:#080;
}

.infosoc {
 stroke:#080;
}

.ingles {
 stroke:#080;
}

.introducao {
 stroke:#080;
}

.irc {
 stroke:#080;
}

.leda {
 stroke:#080;
}

.les {
 stroke:#080;
}

.linear {
 stroke:#080;
}

.lirc {
 stroke:#080;
}

.loac {
 stroke:#080;
}

.logica {
 stroke:#080;
}

.lp1 {
 stroke:#080;
}

.lp2 {
 stroke:#080;
}

.lpt {
 stroke:#080;
}

.metodologia {
 stroke:#080;
}

.metodos {
 stroke:#080;
}

.moderna {
 stroke:#080;
}

.msn {
 stroke:#080;
}

.mvirtuais {
 stroke:#080;
}

.neurais {
 stroke:#080;
}

.oac {
 stroke:#080;
}

.p1 {
 stroke:#080;
}

.p2 {
 stroke:#080;
}

.plp {
 stroke:#080;
}

.predes {
 stroke:#080;
}

.probabilidade {
 stroke:#080;
}

.projeto1 {
 stroke:#080;
}

.projeto2 {
 stroke:#080;
}

.quimica {
 stroke:#080;
}

.realidadevirtual {
 stroke:#080;
}

.redes {
 stroke:#080;
}

.redesadhoc {
 stroke:#080;
}

.relacoeshumanas {
 stroke:#080;
}

.segredes {
 stroke:#080;
}

.si1 {
 stroke:#080;
}

.si2 {
 stroke:#080;
}

.sig {
 stroke:#080;
}

.so {
 stroke:#080;
}

.socind {
 stroke:#080;
}

.srecuperacao {
 stroke:#080;
}

.teoria {
 stroke:#080;
}

.vetorial {
 stroke:#080;
}

.visaocomp {
 stroke:#080;
}

.seminarios {
 stroke:#080;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #0ff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #300;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}


body,td,th {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style: normal;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-decoration:none;
	text-align: center;
}

body {
	background-image: url(../image/4/image/background.png);
	background-repeat: repeat;
	background-attachment:fixed;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	}
	
a {
	color:#07078b; 
	text-decoration:none;
}

a:hover {
	color:#ccc; 
	text-decoration:none;
}
