@charset "utf-8";

body {
	background-image: url(image/background.png);
	background-repeat: repeat;
	background-attachment:fixed;
	
	margin-left: -150px;
	margin-right: 40px;
	margin-bottom: 20px;
}
body,td,th {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style: normal;
	font-size:12px;
	color: #666;
	font-weight: bold;
	text-decoration:none;
	background-image: url(image/background.png);
}

#top {
	font-size:14px;
	}
	
#menu {
	font-size:18px;
	}
	
#content {
	background-position:center;
	}
	
	
#texto {
	text-align:center;
	text-decoration:none;
	color:#000;
	}

.header {
	font-family:'cafenero', Segoe, Verdana, "Trebuchet MS";
	text-align:center;
	text-shadow:#CCC;
	font-size:30px;
	color:#006;
	}

#space {

	}
	
#fonte {
	text-align: center;
}

fonte {
	font-size: 14px;
}


a {
	color:#07078b; 
	text-decoration:none;
}

a:hover {
	color:#ccc; 
	text-decoration:none;
}


#content table tr td p {
	text-align: center;
}

.close{display:block; text-align:right;}

.circle1
{
width:10px;
height:10px;
border-radius:15px;
font-size:12px;
color:black;
line-height:10px;
text-align:center;
background:green;
margin-left: 20px;
margin-right: 10px;
margin-bottom: 5px;
}

.circle2
{
width:10px;
height:10px;
border-radius:15px;
font-size:12px;
color:black;
line-height:10px;
text-align:center;
background:orange;
margin-left: 20px;
margin-right: 10px;
margin-bottom: 5px;
}

.circle3
{
width:10px;
height:10px;
border-radius:15px;
font-size:12px;
color:black;
line-height:10px;
text-align:center;
background:red;
margin-left: 20px;
margin-right: 10px;
margin-bottom: 5px;
}

.circle4
{
width:10px;
height:10px;
border-radius:15px;
font-size:12px;
color:black;
line-height:10px;
text-align:center;
background:sienna;
margin-left: 20px;
margin-right: 10px;
margin-bottom: 5px;
}
	
#infos { 
	float: left;
}

#legenda { 
	float: right;
}


text {
 font-family: sans-serif;
 font-size: 11pt;
}

.y.axis text {
  dominant-baseline: middle;
  text-anchor: end;
}

.y.axis text.title {
  text-anchor: middle;
  fill: blue;
}

.x.axis text {
  dominant-baseline: hanging;
  text-anchor: middle;
}

.x.axis text.title {
  fill: blue;
}